@import "./styles/variables/breakpoints";
@import "./styles/variables/reset";

//fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Open+Sans:wght@400;700;800&display=swap');

//colors
$review: #79868f;
$detail: #ff6e00;
$header: #0a2233;

.container{
  @include container;
}

a{
  text-decoration: none;
  color: $review;

  &:hover{
    color: black;
    text-decoration: underline;
  }
}