@import "./styles/variables/breakpoints";
@import "./styles/variables/reset";

//fonts
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

//colors
$review: #79868f;
$detail: #fa6f32;

.container{
  @include container;
}

a{
  text-decoration: none;
  color: $review;

  &:hover{
    color: black;
    text-decoration: underline;
  }
}