@import "./styles/variables/variables";

*{
  font-family: 'Lato', sans-serif;
}

header{
  border-bottom: 2px solid $review;
  padding: 10px 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }
}

.header-logo{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;

  @include tablet{
    margin-bottom: 0;
  }

  &:after{
    content: '';
    width: 7px;
    height: 7px;
    background: $detail;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    right: -10px;
    bottom: 3px;
  }

  h3{
    font-size: 24px;
  }
}

.whatsapp{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;

  @include tablet{
    justify-content: flex-end;
  }

  img{
    width:20px;
    margin-right: 15px;
  }
}

.opening-hours{
  color: $review;
  font-size: 14px;
}

.banner{
  position: relative;
  padding: 0 0 20px 0;
  margin: 50px 0;

  @include tablet{
    padding: 50px 0 190px 0;
    margin: 0;
  }
}

.banner-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }

  img{
    width: 70%;
    margin: 25px auto;
    max-width: 400px;
    border-bottom-left-radius: 50px;

    @include tablet{
      width: 40%;
      margin: 0;
    }
  }
}

.banner-left{
  max-width: 100%;

  @include tablet{
    max-width: 50%;
  }

  p{
    margin: 40px 0;
    color: $review;
  }

  a{
    padding: 7px 45px;
    background: $detail;
    border-bottom-left-radius: 15px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

.banner-title--small{
  margin-bottom: 20px;
  font-size: 23px;
}

.banner-title--big{
  font-size: 32px;
}

.banner-bcg--img{
  z-index: -2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.img-bcg{
  background: #ffffff94;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.why-card--container,
.reviews-card--container{
  display: flex;
  justify-content: space-between;
  margin: 25px 0 70px 0;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;

    @include tablet{
      width:30%;
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin: 40px 0 20px;
    }

    p{
      text-align: center;
      width: 80%;
      margin: auto auto 55px;
    }
  }
}

.why-card--container{
  p{
    color:$review;
  }
}

.why-card,
.review-card{
  margin-top: 25px;
  box-shadow: 0 0 10px #b5b5b5;
  position: relative;
  border-bottom-left-radius: 30px;

  img{
    width: 150px;
    border-radius: 50%;
    margin: 30px auto;
  }
}

.orange-box{
  width: 40px;
  height: 40px;
  background: $detail;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: -20px;
  left: 25px;
}

.reviews{
  background: $review;
  padding: 50px 0 1px;

  h3{
    color: #fff;
  }
}

.review-card{
  background:#fff;
}

.review-name{
  color: $detail!important;
}

.contact{
  margin-top: 70px;
}

.contact-content{
  box-shadow: 0 0 10px #b5b5b5;
  padding: 25px 40px;
  margin-top: 25px;
}

.contact-form{
  max-width: 800px;
  margin: auto;

  input:not(.contact-form--submit),
  select{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    color: $review;
    margin-bottom: 20px;

    @include tablet{
      width: 48%;
    }
  }

  textarea{
    padding:15px;
    width:100%;
    resize: none;
    box-sizing: border-box;
  }

  p{
    font-size: 14px;
    color: $review;
    margin-bottom: 25px;

    a{
      text-decoration: none;
      color: $review;

      &:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
}

.contact-name,
.contact-contact,
.contact-property{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }
}

.contact-property{
  flex-wrap:wrap;

  select{
    background: none;

    &:last-of-type{
      @include tablet{
        margin-top:23px;
      }
    }
  }
}

.contact-form--submit{
  padding: 7px 45px;
  background: $detail;
  border-bottom-left-radius: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;

  &:hover{
    cursor: pointer;
  }
}

footer{
  margin-top: 75px;
  background: $review;
  height:100px;
}