@import "./styles/variables/variables";

*{
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header{
  border-bottom: 2px solid $review;
  padding: 10px 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }
}

.header-logo{
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 15px;

  @include tablet{
    margin-bottom: 0;
  }

  &:after{
    content: '';
    width: 7px;
    height: 7px;
    background: $detail;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    right: -10px;
    bottom: 3px;
  }

  h3{
    font-size: 36px;
    font-weight: bold;
  }
}

.header-nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 17px;

  a{
    color: $header;
    font-size: 16px;
    font-weight: 600;
    margin-right: 25px;

    &:last-of-type{
      margin-right: 0;
    }
  }
}

.header-time{
  width: inherit;
}

.whatsapp{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 22px;

  @include tablet{
    justify-content: flex-end;
  }

  img{
    width:20px;
    margin-right: 15px;
  }
}

.opening-hours{
  color: $review;
  font-size: 14px;
}

.banner{
  position: relative;
  padding: 0 0 20px 0;
  margin: 50px 0;

  @include tablet{
    padding: 50px 0 190px 0;
    margin: 0;
  }
}

.banner-content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }

  img{
    width: 70%;
    margin: 70px auto 25px;
    max-width: 520px;
    border-bottom-left-radius: 50px;

    @include tablet{
      width: 50%;
      margin: 0;
    }
  }
}

.banner-left{
  max-width: 100%;

  @include tablet{
    max-width: 50%;
  }

  p{
    margin: 40px 0;
    color: $review;
    font-size: 16px;
  }

  a{
    padding: 17px 70px;
    background: $detail;
    border-bottom-left-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
}

.banner-title--small{
  margin-bottom: 20px;
  font-size: 36px;
}

.banner-title--big{
  font-size: 60px;
  font-family: 'EB Garamond', serif;
  color: $header;
}

.banner-bcg--img{
  z-index: -2;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.img-bcg{
  background: #ffffff94;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.why-card--container,
.reviews-card--container{
  display: flex;
  justify-content: space-between;
  margin: 25px 0 70px 0;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;

    @include tablet{
      width:30%;
      margin-bottom: 0;
    }

    h3{
      text-align: center;
      margin: 40px 0 20px;
    }

    p{
      text-align: center;
      width: 80%;
      margin: auto auto 55px;
    }
  }
}

.why-card--container{
  p{
    color:$review;
  }
}

.why-card,
.review-card{
  margin-top: 25px;
  box-shadow: 0 0 10px #b5b5b5;
  position: relative;
  border-bottom-left-radius: 30px;

  img{
    width: 150px;
    border-radius: 50%;
    margin: 30px auto;
  }
}

.orange-box{
  width: 40px;
  height: 40px;
  background: $detail;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: -20px;
  left: 25px;
}

.reviews{
  background: $review;
  padding: 50px 0 1px;

  h3{
    color: #fff;
  }
}

.review-card{
  background:#fff;
}

.review-name{
  color: $detail!important;
}

.contact-content{
  box-shadow: 0 0 10px #b5b5b5;
  padding: 25px 40px;
  margin-top: 50px;

  p{
    font-size: 16px;
    color: $review;
    text-align: center;
  }
}

.contact-phone{
  color: #000;
}

.contact-form{
  max-width: 800px;
  margin: 25px auto;

  input:not(.contact-form--submit),
  select{
    width: 100%;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box;
    color: $review;
    margin-bottom: 20px;

    @include tablet{
      width: 48%;
    }
  }

  textarea{
    padding:15px;
    width:100%;
    resize: none;
    box-sizing: border-box;
  }

  p{
    font-size: 14px;
    color: $review;
    margin-bottom: 25px;
  }
}

.contact-name,
.contact-contact,
.contact-property{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  flex-direction: column;

  @include tablet{
    flex-direction: row;
  }
}

.contact-property{
  flex-wrap:wrap;

  select{
    background: none;

    &:last-of-type{
      @include tablet{
        margin-top:23px;
      }
    }
  }
}

.contact-form--submit{
  padding: 17px 45px;
  background: $detail;
  border-bottom-left-radius: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 20px;
  width: 100%;

  &:hover{
    cursor: pointer;
  }
}

footer{
  margin-top: 75px;
  background: $review;
  height:100px;
}

.faq{
  margin: 70px 0;
}

.faq-accordion{
  margin-top: 25px;
}

.hidden{
  display: none;
}

.confirm-message--sent{
  text-align: center;

}

.section-header{
  font-size: 47px;
  font-family: 'EB Garamond', serif;
  color:$header;
}