@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Open+Sans:wght@400;700;800&display=swap");
body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      padding: 0 15px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

a {
  text-decoration: none; }
  a:hover {
    color: black;
    text-decoration: underline; }

* {
  font-family: 'Open Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

header {
  padding: 25px 0 0 0; }
  @media (min-width: 768px) {
    header {
      border-bottom: 1px solid #eee;
      padding: 25px 0; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 992px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  @media (min-width: 768px) {
    .header-logo {
      margin-bottom: 0;
      -webkit-box-ordinal-group: unset;
          -ms-flex-order: unset;
              order: unset; } }
  .header-logo:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #51b5ea;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    right: -17px;
    bottom: 10px; }
  .header-logo h3 {
    font-size: 36px;
    font-weight: bold; }
    .header-logo h3 a {
      color: #000; }
      .header-logo h3 a:hover {
        text-decoration: none; }

.contact {
  color: #51b5ea !important; }

.contact-section {
  margin-top: 50px; }
  @media (min-width: 768px) {
    .contact-section {
      margin-top: 90px; } }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }
  @media (min-width: 992px) {
    .header-nav {
      -webkit-box-ordinal-group: unset;
          -ms-flex-order: unset;
              order: unset;
      margin-left: auto;
      margin-right: 50px;
      margin-bottom: 0;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .header-nav a {
    color: #0a2233;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 25px; }
    @media (min-width: 768px) {
      .header-nav a {
        font-size: 16px; } }
    .header-nav a:last-of-type {
      margin-right: 0; }

.header-time {
  display: none; }
  @media (min-width: 768px) {
    .header-time {
      display: block; } }

.header-time--mobile {
  display: block; }
  @media (min-width: 768px) {
    .header-time--mobile {
      display: none; } }
  .header-time--mobile .opening-hours {
    text-align: center; }

.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4); }
  @media (min-width: 768px) {
    .whatsapp {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .whatsapp img {
    width: 20px;
    margin-right: 15px; }

.opening-hours {
  color: #8fb7d3;
  font-size: 14px; }

.banner {
  position: relative;
  padding: 50px 0;
  overflow: hidden; }
  @media (min-width: 768px) {
    .banner {
      padding: 50px 0 150px 0;
      margin: 0; } }

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .banner-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 992px) {
    .banner-content {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .banner-content img {
    width: 70%;
    margin: 70px auto 25px;
    max-width: 520px;
    border-bottom-left-radius: 50px; }
    @media (min-width: 768px) {
      .banner-content img {
        width: 50%;
        margin: 0; } }

.banner-left {
  max-width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .banner-left {
      max-width: 60%;
      text-align: left; } }
  .banner-left p {
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
  .banner-left a {
    padding: 17px 70px;
    background: #51b5ea;
    border-bottom-left-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.banner-title--small {
  margin-bottom: 10px;
  color: #fff;
  position: relative; }
  .banner-title--small:before {
    top: -30px;
    left: calc(50% - 12.5px);
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background: url("../img/excl.svg");
    position: absolute;
    background-size: cover; }
    @media (min-width: 768px) {
      .banner-title--small:before {
        left: -45px;
        top: 0; } }

.banner-title--big {
  font-size: 45px;
  line-height: 54px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: bold; }
  @media (min-width: 768px) {
    .banner-title--big {
      font-size: 60px;
      line-height: 70px; } }

.banner-bcg--img {
  top: 0;
  z-index: -2;
  position: absolute;
  width: 100%;
  max-width: unset;
  height: 100%; }
  @media (min-width: 768px) {
    .banner-bcg--img {
      left: 0;
      width: unset; } }
  @media (min-width: 992px) {
    .banner-bcg--img {
      top: 0;
      width: 100%;
      height: auto;
      max-width: 100%;
      left: 0; } }
  @media (min-width: 1200px) {
    .banner-bcg--img {
      top: -200px; } }

.img-bcg {
  background: #00000040;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%; }

.why-card--container__pre {
  color: #000 !important;
  margin-bottom: 25px;
  text-align: center; }
  @media (min-width: 768px) {
    .why-card--container__pre {
      text-align: left; } }

.why-card--container,
.reviews-card--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 70px 0 70px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 768px) {
    .why-card--container,
    .reviews-card--container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .why-card--container .review-card,
  .reviews-card--container .review-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
    margin-bottom: 75px; }
    @media (min-width: 768px) {
      .why-card--container .review-card,
      .reviews-card--container .review-card {
        width: 30%;
        margin-bottom: 0; } }
    .why-card--container .review-card h3,
    .reviews-card--container .review-card h3 {
      text-align: center;
      margin: 40px 0 20px;
      font-family: 'Open Sans', sans-serif;
      font-size: 29px; }

.review-card--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
  border-bottom: 1px solid #666; }

.review-card--content {
  padding-top: 30px;
  color: #000; }

.review-card--header__qoute--icon {
  width: 55px;
  height: 55px; }

.why-card--container {
  width: 100%; }
  @media (min-width: 768px) {
    .why-card--container {
      width: 62%; } }
  .why-card--container p:not(.why-card--container__pre) {
    color: #b5b5b5;
    width: 80%; }

.why-card {
  margin-top: 25px;
  width: 100%;
  -webkit-box-shadow: 0 0 10px #b5b5b5;
          box-shadow: 0 0 10px #b5b5b5;
  border-top: 5px solid #51b5ea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media (min-width: 768px) {
    .why-card {
      width: 65%; } }
  @media (min-width: 992px) {
    .why-card {
      width: 85%; } }
  @media (min-width: 1200px) {
    .why-card {
      width: 47%; } }
  .why-card p,
  .why-card h3 {
    text-align: center; }
  .why-card h3 {
    margin-top: 20px;
    width: 70%; }
  .why-card p {
    margin: 50px 0; }

.reviews {
  background: #8fb7d3;
  padding: 50px 0 1px;
  margin-top: 50px; }
  .reviews h3 {
    color: #fff; }

.review-card--header__head {
  width: 65px;
  height: 65px;
  border-radius: 50%; }

.review-name {
  color: #000;
  font-weight: bold;
  margin-right: auto;
  margin-left: 15px; }

.contact-content {
  -webkit-box-shadow: 0 0 10px #b5b5b5;
          box-shadow: 0 0 10px #b5b5b5;
  padding: 25px 40px;
  margin-top: 50px; }
  .contact-content p {
    font-size: 16px;
    color: #8fb7d3;
    text-align: center; }

.contact-phone {
  color: #000; }

.contact-form {
  max-width: 800px;
  margin: 25px auto; }
  .contact-form input:not(.contact-form--submit):not(.rights-input),
  .contact-form select {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .contact-form input:not(.contact-form--submit):not(.rights-input),
      .contact-form select {
        width: 48%; } }
  .contact-form textarea {
    padding: 15px;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contact-form p {
    font-size: 14px;
    margin-bottom: 25px; }

.rights-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact-name,
.contact-contact,
.contact-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .contact-name,
    .contact-contact,
    .contact-property {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      margin-bottom: 15px; } }

.contact-property {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contact-property select {
    background: none; }

.contact-form--submit {
  padding: 17px 45px;
  background: #51b5ea;
  margin-top: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 20px;
  width: 100%; }
  .contact-form--submit:hover {
    cursor: pointer; }

footer {
  margin-top: 75px;
  background: #8fb7d3;
  padding: 50px 0; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse; }
  @media (min-width: 768px) {
    .footer {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.faq {
  margin: 70px 0; }

.faq-accordion {
  margin-top: 25px; }
  .faq-accordion li {
    background: #f1f1f1;
    border-bottom-left-radius: 30px;
    padding: 10px 0 10px 30px; }
    @media (min-width: 768px) {
      .faq-accordion li {
        padding: 10px 0 10px 50px; } }

.hidden {
  display: none; }

.confirm-message--sent {
  text-align: center; }

.section-header {
  font-size: 38px;
  font-family: 'Open Sans', sans-serif;
  color: #0a2233;
  line-height: 35px; }
  @media (min-width: 768px) {
    .section-header {
      font-size: 47px;
      line-height: unset; } }

.thank-you--message {
  margin-top: 100px; }
  .thank-you--message p {
    text-align: center; }
    .thank-you--message p:first-of-type {
      font-size: 36px; }
    .thank-you--message p:last-of-type {
      font-size: 25px; }

.thank-you--footer {
  margin-top: 75px;
  background: #0a2233;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.privacy-terms {
  margin-top: 50px; }
  .privacy-terms p {
    margin: 20px 0 !important; }

.contact-form--home {
  width: 350px;
  padding: 25px;
  position: sticky;
  top: 80px;
  background: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px #cbcbcb;
          box-shadow: 0 0 15px #cbcbcb;
  margin-left: auto; }
  .contact-form--home .contact-name {
    margin-bottom: 0; }
  .contact-form--home select,
  .contact-form--home input {
    padding: 15px 10px; }
  .contact-form--home select,
  .contact-form--home input:not(.rights-input) {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 10px; }
  .contact-form--home .rights-container {
    text-align: center;
    font-size: 14px;
    color: #b5b5b5; }

.contact-name input:first-of-type {
  margin-right: 15px; }

.sticky-container {
  display: none; }
  @media (min-width: 768px) {
    .sticky-container {
      display: block;
      z-index: 5;
      position: absolute;
      top: 75px;
      right: calc(50% - (720px / 2));
      bottom: 0; } }
  @media (min-width: 992px) {
    .sticky-container {
      right: calc(50% - (940px / 2)); } }
  @media (min-width: 1200px) {
    .sticky-container {
      right: calc(50% - (1140px / 2)); } }

.top-container {
  position: relative; }

.mission--banner-left {
  color: #b5b5b5;
  font-size: 16px;
  width: 100%; }
  @media (min-width: 768px) {
    .mission--banner-left {
      width: 60%;
      margin: 40px 0; } }
  .mission--banner-left p {
    margin: 30px 0; }

.mission--banner-title--big {
  font-size: 32px;
  line-height: 54px;
  font-family: 'Open Sans', sans-serif;
  color: #51b5ea;
  font-weight: bold; }
  @media (min-width: 768px) {
    .mission--banner-title--big {
      line-height: 70px; } }

.underline-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.header-underline {
  width: 200px;
  height: 7px;
  background: #51b5ea;
  border-bottom-left-radius: 15px; }

.mission--images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .mission--images-container {
      margin-top: 100px;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .mission--images-container img {
    position: relative; }
    @media (min-width: 768px) {
      .mission--images-container img {
        margin-right: 10px; } }
    .mission--images-container img:nth-child(1) {
      top: 20px;
      right: -20px; }
      @media (min-width: 768px) {
        .mission--images-container img:nth-child(1) {
          top: 0;
          right: 0; } }
    .mission--images-container img:nth-child(2) {
      left: -20px;
      z-index: 2; }
      @media (min-width: 768px) {
        .mission--images-container img:nth-child(2) {
          top: 0;
          left: 0;
          height: 250px; } }
    .mission--images-container img:last-of-type {
      top: -20px;
      right: -15px; }
      @media (min-width: 768px) {
        .mission--images-container img:last-of-type {
          margin-right: 0;
          top: 10px;
          left: -20px; } }

.footer--links a {
  margin-right: 25px;
  color: #000; }
  .footer--links a:last-of-type {
    margin-right: 0; }

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px; } }

.nav-menu {
  display: none; }
  @media (min-width: 992px) {
    .nav-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      list-style-type: none;
      padding: 0; } }
  .nav-menu a {
    text-transform: uppercase;
    padding: 10px;
    margin: 0 5px;
    color: #3f4040;
    font-weight: 700;
    text-decoration: none;
    font-size: 12px; }
    .nav-menu a:hover {
      cursor: pointer; }
    @media (min-width: 1200px) {
      .nav-menu a {
        font-size: 15px; } }

.hamburger {
  cursor: pointer; }
  @media (min-width: 992px) {
    .hamburger {
      display: none; } }

.hamburger .hamburger-input {
  display: none; }

svg {
  position: absolute;
  top: 23px;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: url("#gooey");
          filter: url("#gooey");
  width: 50px; }

path {
  fill: none;
  stroke-linecap: round;
  stroke: #3f4040;
  stroke-width: 1.5px; }

.icon {
  -webkit-transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transform: translateX(0px);
          transform: translateX(0px); }

.top,
.bottom {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
  -webkit-transition-duration: 1000ms, 1000ms, 500ms;
          transition-duration: 1000ms, 1000ms, 500ms;
  -webkit-transition-property: stroke-dasharray, stroke-dashoffset, -webkit-transform;
  transition-property: stroke-dasharray, stroke-dashoffset, -webkit-transform;
  transition-property: stroke-dasharray, stroke-dashoffset, transform;
  transition-property: stroke-dasharray, stroke-dashoffset, transform, -webkit-transform;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms;
  stroke-dasharray: 16px 110.21px;
  stroke-dashoffset: -86.21px;
  -webkit-transform: translateY(0px);
          transform: translateY(0px); }

.middle {
  -webkit-transition: all 600ms cubic-bezier(0.5, -0.1, 0.5, 1.1);
  transition: all 600ms cubic-bezier(0.5, -0.1, 0.5, 1.1);
  stroke-dasharray: 16px 56px;
  stroke-dashoffset: -32px;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms; }

.hamburger-input:checked + svg .icon {
  -webkit-transform: translateX(-66px);
          transform: translateX(-66px); }

.hamburger-input:checked + svg .top,
.hamburger-input:checked + svg .bottom {
  stroke-dashoffset: -9.9px;
  stroke-dasharray: 19.8px 110.21px;
  -webkit-transition-delay: 0ms, 0ms, 500ms;
          transition-delay: 0ms, 0ms, 500ms; }

.hamburger-input:checked + svg .top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px); }

.hamburger-input:checked + svg .bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px); }

.hamburger-input:checked + svg .middle {
  stroke-dashoffset: 16px;
  -webkit-transition-delay: 0ms;
          transition-delay: 0ms; }

.debug {
  display: none; }

.debug path {
  stroke-dasharray: none !important;
  stroke: #000 !important; }

.enable-debug .debug {
  display: inherit; }

.enable-debug .icon {
  -webkit-transform: translateX(0) !important;
          transform: translateX(0) !important; }

.enable-debug svg {
  -webkit-filter: none;
          filter: none; }

.nav-menu-mobile {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1);
  transition: all 800ms cubic-bezier(0.4, 0, 0.6, 1); }
  .nav-menu-mobile li {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #dedede;
    padding: 8px; }
    .nav-menu-mobile li a {
      color: #3f4040;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center; }
      .nav-menu-mobile li a:hover {
        cursor: pointer; }
  @media (min-width: 992px) {
    .nav-menu-mobile {
      display: none; } }

.nav-open {
  height: 279px;
  margin-bottom: 15px; }

.contact-mobile--container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  bottom: 0;
  background: #fff;
  z-index: 5;
  width: 100%;
  -webkit-transform: translate(0, calc(100% - 79px));
          transform: translate(0, calc(100% - 79px));
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  overflow: scroll; }
  @media (min-width: 768px) {
    .contact-mobile--container {
      display: none; } }

.contact-mobile--button {
  background: #51b5ea;
  color: #fff;
  border: none;
  padding: 15px 35px;
  font-size: 14px;
  font-weight: bold;
  width: 100%; }

.contact-open {
  -webkit-transform: translate(0, 0) !important;
          transform: translate(0, 0) !important;
  top: 0;
  bottom: auto;
  height: 100%; }

.covid-update {
  padding: 50px 20px 20px 20px;
  margin-top: 50px;
  background: #ffffff8c; }
  @media (min-width: 768px) {
    .covid-update {
      padding: 20px 15px 20px 70px; } }

.grey-bar {
  width: 100%;
  background: #f7f7f7;
  padding: 25px 0; }
  .grey-bar h3 {
    margin: 0 auto;
    padding: 0 25px;
    position: relative; }
    @media (min-width: 768px) {
      .grey-bar h3 {
        width: 720px;
        padding: 0 15px; } }
    @media (min-width: 992px) {
      .grey-bar h3 {
        width: 940px; } }
    @media (min-width: 1200px) {
      .grey-bar h3 {
        width: 1140px; } }
