@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&family=Open+Sans:wght@400;700;800&display=swap");
body {
  margin: 0; }

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  padding: 0 25px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 720px;
      padding: 0 15px; } }
  @media (min-width: 992px) {
    .container {
      width: 940px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1140px; } }

a {
  text-decoration: none;
  color: #79868f; }
  a:hover {
    color: black;
    text-decoration: underline; }

* {
  font-family: 'Open Sans', sans-serif; }

html {
  scroll-behavior: smooth; }

header {
  padding: 25px 0 0 0;
  border-bottom: 1px solid #eee; }
  @media (min-width: 768px) {
    header {
      padding: 25px 0; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 992px) {
    .header {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  margin-bottom: 15px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }
  @media (min-width: 768px) {
    .header-logo {
      margin-bottom: 0;
      -webkit-box-ordinal-group: unset;
          -ms-flex-order: unset;
              order: unset; } }
  .header-logo:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #ff6e00;
    display: inline-block;
    border-radius: 50px;
    position: absolute;
    right: -17px;
    bottom: 10px; }
  .header-logo h3 {
    font-size: 36px;
    font-weight: bold; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }
  @media (min-width: 992px) {
    .header-nav {
      -webkit-box-ordinal-group: unset;
          -ms-flex-order: unset;
              order: unset;
      margin-left: auto;
      margin-right: 50px;
      margin-bottom: 0;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .header-nav a {
    color: #0a2233;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-right: 25px; }
    @media (min-width: 768px) {
      .header-nav a {
        font-size: 16px; } }
    .header-nav a:last-of-type {
      margin-right: 0; }

.header-time {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }
  @media (min-width: 768px) {
    .header-time {
      -webkit-box-ordinal-group: unset;
          -ms-flex-order: unset;
              order: unset; } }

.whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.4); }
  @media (min-width: 768px) {
    .whatsapp {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .whatsapp img {
    width: 20px;
    margin-right: 15px; }

.opening-hours {
  color: #79868f;
  font-size: 14px; }

.banner {
  position: relative;
  padding: 0 0 20px 0;
  margin: 50px 0;
  overflow: hidden; }
  @media (min-width: 768px) {
    .banner {
      padding: 50px 0 150px 0;
      margin: 0; } }

.banner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .banner-content {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  @media (min-width: 992px) {
    .banner-content {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; } }
  .banner-content img {
    width: 70%;
    margin: 70px auto 25px;
    max-width: 520px;
    border-bottom-left-radius: 50px; }
    @media (min-width: 768px) {
      .banner-content img {
        width: 50%;
        margin: 0; } }

.banner-left {
  max-width: 100%;
  text-align: center; }
  @media (min-width: 768px) {
    .banner-left {
      max-width: 50%;
      text-align: left; } }
  .banner-left p {
    margin: 40px 0;
    color: #79868f;
    font-size: 16px; }
  .banner-left a {
    padding: 17px 70px;
    background: #ff6e00;
    border-bottom-left-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: bold; }

.banner-title--small {
  margin-bottom: 20px;
  font-size: 36px; }

.banner-title--big {
  font-size: 45px;
  line-height: 54px;
  font-family: 'EB Garamond', serif;
  color: #0a2233; }
  @media (min-width: 768px) {
    .banner-title--big {
      font-size: 60px;
      line-height: 70px; } }

.banner-bcg--img {
  z-index: -2;
  position: absolute;
  bottom: -130px;
  width: 100%; }

.img-bcg {
  background: #ffffffdb;
  height: 100%;
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%; }

.why-card--container,
.reviews-card--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0 70px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .why-card--container,
    .reviews-card--container {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .why-card--container div,
  .reviews-card--container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .why-card--container div,
      .reviews-card--container div {
        width: 30%;
        margin-bottom: 0; } }
    .why-card--container div h3,
    .reviews-card--container div h3 {
      text-align: center;
      margin: 40px 0 20px;
      font-family: 'EB Garamond', serif;
      font-size: 29px; }
    .why-card--container div p,
    .reviews-card--container div p {
      text-align: center;
      width: 80%;
      margin: auto auto 55px; }

.why-card--container p {
  color: #79868f; }

.why-card,
.review-card {
  margin-top: 25px;
  -webkit-box-shadow: 0 0 10px #b5b5b5;
          box-shadow: 0 0 10px #b5b5b5;
  position: relative;
  border-bottom-left-radius: 30px; }
  .why-card img,
  .review-card img {
    width: 150px;
    border-radius: 50%;
    margin: 30px auto; }

.orange-box {
  width: 40px;
  height: 40px;
  background: #ff6e00;
  border-bottom-left-radius: 15px;
  position: absolute;
  top: -20px;
  left: 25px; }

.reviews {
  background: #79868f;
  padding: 50px 0 1px; }
  .reviews h3 {
    color: #fff; }

.review-card {
  background: #fff; }

.review-name {
  color: #ff6e00 !important; }

.contact-content {
  -webkit-box-shadow: 0 0 10px #b5b5b5;
          box-shadow: 0 0 10px #b5b5b5;
  padding: 25px 40px;
  margin-top: 50px; }
  .contact-content p {
    font-size: 16px;
    color: #79868f;
    text-align: center; }

.contact-phone {
  color: #000; }

.contact-form {
  max-width: 800px;
  margin: 25px auto; }
  .contact-form input:not(.contact-form--submit):not(.rights-input),
  .contact-form select {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #79868f;
    margin-bottom: 20px; }
    @media (min-width: 768px) {
      .contact-form input:not(.contact-form--submit):not(.rights-input),
      .contact-form select {
        width: 48%; } }
  .contact-form textarea {
    padding: 15px;
    width: 100%;
    resize: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .contact-form p {
    font-size: 14px;
    color: #79868f;
    margin-bottom: 25px; }

.rights-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact-name,
.contact-contact,
.contact-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 768px) {
    .contact-name,
    .contact-contact,
    .contact-property {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }

.contact-property {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .contact-property select {
    background: none; }

.contact-form--submit {
  padding: 17px 45px;
  background: #ff6e00;
  border-bottom-left-radius: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border: none;
  font-size: 20px;
  width: 100%; }
  .contact-form--submit:hover {
    cursor: pointer; }

footer {
  margin-top: 75px;
  background: #79868f;
  height: 100px; }

.faq {
  margin: 70px 0; }

.faq-accordion {
  margin-top: 25px; }

.hidden {
  display: none; }

.confirm-message--sent {
  text-align: center; }

.section-header {
  font-size: 38px;
  font-family: 'EB Garamond', serif;
  color: #0a2233;
  line-height: 35px; }
  @media (min-width: 768px) {
    .section-header {
      font-size: 47px;
      line-height: unset; } }

.why-us {
  margin-top: 50px; }

.thank-you--message {
  margin-top: 100px; }
  .thank-you--message p {
    text-align: center; }
    .thank-you--message p:first-of-type {
      font-size: 36px; }
    .thank-you--message p:last-of-type {
      font-size: 25px; }

.thank-you--footer {
  margin-top: 75px;
  background: #79868f;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.privacy-terms {
  margin-top: 50px; }
  .privacy-terms p {
    margin: 20px 0 !important; }
